* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.js-open-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 15px;
  margin-right: auto;
  padding: 8px 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  background-color: #ddd;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.js-close-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-left: auto;
  padding: 5px 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.25;
  background-color: #ddd;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.js-close-modal-btn:hover,
.js-open-modal-btn:hover {
  background-color: #aaa;
}
