/* Main */
.cg-modal {
  --speed: 0.3s;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 80%);
  visibility: hidden;
  opacity: 0;
}

.cg-modal.active {
  visibility: visible;
  opacity: 1;
}

.cg-modal-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  overflow: auto;
}

.cg-modal-content {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: #fff;
}

.cg-modal.left .cg-modal-wrapper {
  justify-content: flex-start;
  height: 100%;
  padding: 0;
}

.cg-modal.left .cg-modal-content {
  min-height: 100%;
}

.cg-modal.right .cg-modal-wrapper {
  justify-content: flex-end;
  height: 100%;
  padding: 0;
}

.cg-modal.right .cg-modal-content {
  min-height: 100%;
}

/* Effects */
.cg-modal.fade,
.cg-modal.transformBottom {
  transition: opacity var(--speed), visibility var(--speed);
}

.cg-modal.transformBottom .cg-modal-content {
  transform: translateY(100vh);
  transition: -webkit-transform var(--speed);
  transition: transform var(--speed);
  transition: transform var(--speed), -webkit-transform var(--speed);
}

.cg-modal.transformBottom.active .cg-modal-content {
  transform: translateY(0);
}

.cg-modal.transformTop {
  transition: opacity var(--speed), visibility var(--speed);
}

.cg-modal.transformTop .cg-modal-content {
  transform: translateY(-100vh);
  transition: -webkit-transform var(--speed);
  transition: transform var(--speed);
  transition: transform var(--speed), -webkit-transform var(--speed);
}

.cg-modal.transformTop.active .cg-modal-content {
  transform: translateY(0);
}

.cg-modal.transformLeft {
  transition: opacity var(--speed), visibility var(--speed);
}

.cg-modal.transformLeft .cg-modal-content {
  transform: translateX(-100vw);
  transition: -webkit-transform var(--speed);
  transition: transform var(--speed);
  transition: transform var(--speed), -webkit-transform var(--speed);
}

.cg-modal.transformLeft.active .cg-modal-content {
  transform: translateX(0);
}

.cg-modal.transformRight {
  transition: opacity var(--speed), visibility var(--speed);
}

.cg-modal.transformRight .cg-modal-content {
  transform: translateX(100vw);
  transition: -webkit-transform var(--speed);
  transition: transform var(--speed);
  transition: transform var(--speed), -webkit-transform var(--speed);
}

.cg-modal.transformRight.active .cg-modal-content {
  transform: translateX(0);
  transform: translateX(0);
}

.cg-modal.scaleCenter {
  transition: opacity var(--speed), visibility var(--speed);
}

.cg-modal.scaleCenter .cg-modal-content {
  transform: scale(0);
  transition: -webkit-transform var(--speed);
  transition: transform var(--speed);
  transition: transform var(--speed), -webkit-transform var(--speed);
}

.cg-modal.scaleCenter.active .cg-modal-content {
  transform: scale(1);
}
